/* here app related custom css */
.page-footer .page-footer-inner{ float:none; text-align: center; display: inherit;}
.page-header.navbar .page-logo .logo-default {
    max-width: 130px;
    margin: 12px 0 0;
}
.form-control {
    background-color: #E9EDEF;
}

.book_launch_cabin .icon-btn{ background: #26C281; color: #FFFFFF !important;}
.book_launch_cabin .icon-btn>div{color: #FFFFFF !important;}
.book_launch_cabin .launch_cabin.selected{ background: #F3C200; }
.book_launch_cabin .icon-btn.booking_status_confirm{ background: #E43A45; }
.book_launch_cabin .icon-btn.booking_status_pending{ background: #8775A7; }
.book_launch_cabin .icon-btn.booking_status_hold{ background: #67809F; }
/*.book_launch_cabin .icon-btn.booking_status_confirm, .book_launch_cabin .icon-btn.booking_status_pending, .book_launch_cabin .icon-btn.booking_status_hold{
  color: #FFFFFF !important;
}*/
